<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" type="text/css" href="~/css/drive.css">
    <link rel="stylesheet" type="text/css" href="~/css/logining.css">
    <link rel="stylesheet" type="text/css" href="~/css/profilform.css">
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
</head>
<body>
    <div class="l-body">
        <header class="l-header" data-role="sticky">


            <div class="c-top">
                <div class="c-top__container">
                    <a class="c-logo" href="/">
                        <span>Garage</span>
                    </a>
                    <div class="c-top__wrapper">
                        <div class="c-top__main-nav" data-slot="sitesearch.nav">

                            <div class="c-top-nav">
                                <a class="c-top-nav__link" href="/">Лента</a>
                            </div>
                            <div class="c-top-nav">
                                <a class="c-top-nav__link">Машины</a>
                            </div>
                            <div class="c-top-nav">
                                <a class="c-top-nav__link">Личный опыт</a>
                            </div>
                            <div class="c-top-nav">
                                <a class="c-top-nav__link">Сообщества</a>
                            </div>

                        </div>
                        <div class="c-top-nav r-button-unstyled">
                            <a class="c-top-nav__link"> @TempData["UserName"]</a>
                        </div>
                        <div class="c-top-nav r-button-unstyled">
                            <a class="c-top-nav__link" href=" @TempData["LoginInOutHref"]">  @TempData["LoginInOut"]</a>
                        </div>
                        </div>
                    </div>
            </div>
        </header>


        <main>
            <div class="l-container">
                <div class="qqq_h16rC js-page">
                    <div class="qqq_h16rCcq_KqJHOVjU">
                        <div class="qqq_h16rCcqHErYo g-column-mid">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </main>


        <footer class="l-footer">
            <div class="footer ">
                <div class="footer__content">
                    <div class="footer__bg">
                        <div class="footer__body">
                            <div class="footer__copyrights">© GARAGE.RU, 2019</div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
