@{
    ViewData["Title"] = "Профиль";
    @model List<WebApplication2.Models.Post>;
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="gtid-profil">
    <div class="profil-bg">
        <p class="profil-head-text">@TempData["UserName"]</p>
        <div style="background-image:url(/images/logo_icon.png);" class="profil-img">
        </div>
    </div>

    <div class="profil-bg">
        <table class="table table-hover" >
            <thead>
                <tr><td>Заголовок</td><td>Текст Поста</td> 
                <td><div class="btn-block btn-danger btn" style="background:green; border-color:darkgreen"><a style="text-decoration:none;color:white;" href="/users/addpost">Добавить</a></div></td></tr>
            </thead>
            <tbody>
                @{ foreach (var i in Model)
                    {
                        <tr>
                            <td>@i.Headline</td>
                            <td>
                                @{
                                    if (i.MainText.Length > 100)
                                    {
                                        @i.MainText.Substring(0, 100);
                                    }
                                    else
                                    {
                                        @i.MainText;
                                    }
                                }
                            </td>
                            
                            <td style="width:10%">
                                <form asp-antiforgery="true" method="post">
                                    <input type="hidden" name="delete" value="@i.Headline" />
                                    <input type="submit" class="btn btn-danger btn-block" value="Удалить" />
                                </form>
                                <form asp-antiforgery="true" method="post">
                                    <input type="hidden" name="edit" value="@i.Id" />
                                    <input type="submit" class="btn btn-default btn-block" value="Редактировать" />
                                </form>
                            </td>
                        </tr>
                   }
                }
             </tbody>
        </table>
    </div>
</div>

